@model ASPMVCProducts.ViewModels.Products.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var item in Model.Products) {
    <div class="product-entry">
        <h3> @item.Name</h3>
        <div class="product-details">
            <div>@item.Description</div>
            @{
                var lCategoriesStr = String.Join(", ", item.Categories.Select(aCategory => aCategory.Name ) );
            }
                
            @if(!string.IsNullOrEmpty( lCategoriesStr )){
                <div>
                    Categories: @lCategoriesStr
                </div>
            }
       
        </div>    
        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) &nbsp; |
       
        <form action="/Products/Delete?id=@item.Id" method="post">
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" />
        </form>
        
    </div>
}
