@model ASPMVCProducts.ViewModels.ProductEntryEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>

<form id="form-productlistentryEdit" action="/ProductLists/@Model.ListId/Edit/@Model.EntryId" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product entry</legend>

        @Html.HiddenFor(model => model.ListId)
        @Html.HiddenFor(model => model.EntryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ammount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ammount)
            @Html.ValidationMessageFor(model => model.Ammount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.Comments)*@
            <textarea id="Comments" class="valid" name="Comments">@Model.Comments</textarea>
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
