<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Product list demo</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <section id="layout-login">
                @Html.Partial("_LoginPartial")
            </section>
        </header>
        <aside id="layout-aside">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("View product lists", "Index", "ProductList")</li>
                </ul>
            </aside>
        <div id="layout-body">
            @RenderBody()
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
