<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Product list demo</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table id="table-base">
        <tr id="tr-login">  
           <td ></td>
           <td id="layout-login">
               @Html.Partial("_LoginPartial")
           </td>
        </tr>
        <tr>
            <td id="layout-aside">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Product lists", "Index", "ProductLists")</li>
                    <li>@Html.ActionLink("Client apps", "ClientApps", "Home")</li>
                </ul>
            </td>
            <td >
                <div id="div-body">
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/productshub.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
